<%- include('includes/head.ejs') %>

<!-- <h1><%= firstName %></h1>
<h1><%= lastName %></h1>
<h1><%= email %></h1>
<h1><%= Phone %></h1>
<h1><%= Password %></h1> -->



<%- include('includes/end.ejs') %>




